{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Reset password</h5>
                    <form class="form-signin" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-label-group">
                            {{ form.email(class="form-control") }}
                            {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.submit(class="btn btn-lg btn-danger btn-block text-uppercase") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}